.logo{
    height: 3.5rem;
    margin-left: 2rem;
}

.search{
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__input{
        width: 90%;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        border-radius: 10rem;
        font-size: 1.6rem;
        font-family: inherit;
        padding: 0.7rem 2rem;
        transition: all 0.3s;
        margin-right: -3.5rem;

        &:focus{
            width: 100%;
            outline: none;
        }

        &::-webkit-input-placeholder{
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__button{
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus{
            outline: none;
        }

        &:active{
            transform: translateY(2px);
        }
    }

    &__icon{
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}

.user-nav{
    align-self: stretch;
    display: flex;
    align-items: center;
    // justify-content: center;

    & > *{
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover{
        background-color: var(--color-grey-light-2);
    }

    &__icon-box{
        position: relative;
    }

    &__icon{
        height: 2.5rem;
        width: 2.5rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification{
        position: absolute;
        top: 1.5rem;
        right: 1rem;
        font-size: 0.8rem;
        height:1.75rem;
        width: 1.75rem;
        color: #fff;
        background-color: var(--color-primary);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__user-photo{
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 2.5rem;
    }
}

.side-nav{
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 400;
    list-style-type: none;
    margin-top: 3.5rem;

    &__items{
        position: relative;

        &:not(:last-child){
            margin-bottom: 2rem;
        }
    }

    &__items::before{
        z-index: 1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background-color: var(--color-primary);
        transform: scaleY(0);
        transition: transform 0.3s,
                    width 0.2s cubic-bezier(1,0,0,1) 0.2s;
    }

    &__items:hover::before,&__items--active::before{
        transform: scaleY(1);
        width: 100%;
    }

    &__links{
        position: relative;
        z-index: 3;
        text-decoration: none;
        &,&:link,&:visited{
            color: var(--color-grey-light-1);
            padding: 1.5rem 3rem;
            display: block;
            display: flex;
            align-items: center;
        }
    }

    &__icon{
        height: 1.75rem;
        width: 1.75rem;
        margin-right: 1rem;
        fill: currentColor;
    }
}

.legal{
    color: var(--color-grey-light-4);
    font-size: 1.2rem;
    text-align: center;
    padding: 2rem;
    text-transform: uppercase;
}

.gallary{
    display: flex;

    &__img{
        width: 100%;
        display: block;
    }
}

.overview{
    display: flex;
    background-color: var(--color-grey-light-3);
    height: 7rem;
    align-items: center;

    &__heading{
        text-transform: uppercase;
        font-size: 2.2rem;
        letter-spacing: 1px;
        font-weight: 400;
        padding: 1.5rem 2rem;
    }

    &__stars{
        display: flex;
        margin-right: auto;
    }

    &__icon-star{
        height: 2.75rem;
        width: 2.75rem;
        fill: var(--color-primary);
    }

    &__location{
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        margin-right: 2rem;
    }

    &__icon-location{
        height: 2.75rem;
        width: 2.75rem;
        fill: var(--color-primary);
    }

    &__ratings{
        background-color: var(--color-primary);
        align-self: stretch;
        color: var(--color-grey-light-1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;

        &-average{
            font-size: 2.25rem;
            font-weight: 300;
        }
        &-count{
            font-size: 1rem;
            text-transform: uppercase;
        }
    }
    
}

.btn-inline{
    background-color: transparent;
    border: none;
    color: var(--color-primary);
    cursor: pointer;
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    display: inline-block;


    &:focus{
        animation: pulse 0.6s infinite;
    }
}

@keyframes pulse{
    0%{
        transform: scale(1);
        box-shadow: none;
    }
    50%{
        transform: scale(1.05);
        box-shadow: 0 2rem 3rem rgba(#000000, 0.4);
    }
    100%{
        transform: scale(1);
        box-shadow: none;
    }
}